/* Sidebar Styles */
.sidebar {
    width: 300px;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.logo img{
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 10px;
    width:250px;
}


/* .user-icon {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50% !important;
} */

.menu {
    padding-left: 20px !important;
    margin-top: 20px !important;
}

.menu-item {
    display: block !important;
    padding: 20px !important;
    text-decoration: none !important;
    color: #000 !important;
    font-size: 18px !important;
    /* border-bottom: 1px solid #ddd !important; */
}

.menu-item:hover {
    background-color: #f1f1f1 !important;
}

.menu-item-blue {
    color: #007bff; /* Blue color for text */
    text-decoration: none;
    padding-left: 12px;
    font-size: 20px;
}

.menu-item-blue i {
    color: #007bff; /* Blue color for the icon */
}

.menu-item-blue:hover {
    color: #0056b3; /* Darker blue on hover */
}

.menu-item-blue i:hover {
    color: #0056b3; /* Darker blue for the icon on hover */
}

